.header {
    background-color: #D9CEC1;
}

.busqueda {
    padding: 10px 15px;
    /* espacio interno */
    border: 2px solid #ccc;
    /* borde gris */
    border-radius: 8px;
    /* bordes redondeados */
    font-size: 16px;
    /* tamaño de texto */
    outline: none;
    /* quita borde azul por defecto al hacer focus */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.nav-header {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    font-size: large;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* justo debajo del item */
    left: 0;
    background-color: #fff;
    color: #333;
    list-style: none;
    padding: 0 0;
    margin: 0;
    min-width: 150px;
    max-width: 350px;
    /* ancho máximo */
    width: max-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-menu li {
    padding: 8px 15px;
    cursor: pointer;

}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.menu-item.dropdown:hover .dropdown-menu {
    display: block;
    /* se muestra al pasar el ratón */
}